# API Keys
OPENAI_API="Bearer YOUR_OPENAI_API_KEY"

# Server Settings
PORT="3000"

# Auth Settings
USE_AUTH=true
AUTH_ROOM="authorised_room,another,another_auth,another_auth_room"

# Command Prefixes
GPT_PREFIX=">>"
